.contact-container {
    padding-bottom: 4rem;
    background-image: linear-gradient(to bottom, white 50%, #1a1a1a 50%);
}

.contact-options {
    padding-top: 50px;
}

.contact-button {
    margin: .5rem;
    border-radius: 50%;
    transition: 200ms;
}

.contact-button:hover {
    color: #00111f;
    background: white;
    transform: scale(1.2);
    animation: glowCircle 6s infinite;
}

.contact {
    background: rgb(0,17,31);
    background: linear-gradient(0deg, rgba(0,17,31,1) 30%, rgba(255,255,255,1) 30%);
}

.colorful {
    animation: glow 12s infinite;
}

@-webkit-keyframes glowCircle {
    0% {
        border: 1px solid #0083f0;
    }
    25% {
        border: 1px solid #725286;
    }
    50% {
        border: 1px solid #e3211c;
    }
    75% {
        border: 1px solid #725286;
    }
    100% {
        border: 1px solid #0083f0;
    }
  }
  @-moz-keyframes glowCircle {
    0% {
        border: 1px solid #0083f0;
    }
    25% {
        border: 1px solid #725286;
    }
    50% {
        border: 1px solid #e3211c;
    }
    75% {
        border: 1px solid #725286;
    }
    100% {
        border: 1px solid #0083f0;
    }
  }
  @-o-keyframes glowCircle {
    0% {
        border: 1px solid #0083f0;
    }
    25% {
        border: 1px solid #725286;
    }
    50% {
        border: 1px solid #e3211c;
    }
    75% {
        border: 1px solid #725286;
    }
    100% {
        border: 1px solid #0083f0;
    }
  }
@keyframes glowCircle {
  0% {
      border: 1px solid #0083f0;
  }
  25% {
      border: 1px solid #725286;
  }
  50% {
      border: 1px solid #e3211c;
  }
  75% {
      border: 1px solid #725286;
  }
  100% {
      border: 1px solid #0083f0;
  }
}
@-webkit-keyframes glow {
    0% {
        color: #0083f0;
    }
    25% {
        color: #725286;
    }
    50% {
        color: #e3211c;
    }
    75% {
        color: #725286;
    }
    100% {
        color: #0083f0;
    }
  }
  @-moz-keyframes glow {
    0% {
        color: #0083f0;
    }
    25% {
        color: #725286;
    }
    50% {
        color: #e3211c;
    }
    75% {
        color: #725286;
    }
    100% {
        color: #0083f0;
    }
  }
  @-o-keyframes glow {
    0% {
        color: #0083f0;
    }
    25% {
        color: #725286;
    }
    50% {
        color: #e3211c;
    }
    75% {
        color: #725286;
    }
    100% {
        color: #0083f0;
    }
  }
@keyframes glow {
    0% {
        color: #0083f0;
    }
    25% {
        color: #725286;
    }
    50% {
        color: #e3211c;
    }
    75% {
        color: #725286;
    }
    100% {
        color: #0083f0;
    }
  }