.light-text {
    margin: 0 auto;
    font-weight: lighter;
}

.work-exp-list {
    width: 50rem;
    margin: 0 auto;
}

.work-exp-list ul {
    list-style: none;
    padding: 0;
}

.work-exp {
    display: flex;
    flex-direction: row;
}

.work-exp-pic {
    transform: rotateY(-90deg);
}

.work-exp-info {
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 50rem;
    transform: rotateY(90deg);
    text-align: left;
}

.work-exp-description {
    margin: auto 5rem;
    width: 30rem;
    opacity: 0;
}