.skill-bar {
    width: 100%;
    background-color: #00111f;
}

.skill-bar-amount {
    text-align: right;
    color: white;
    padding: 0 5px;
    width: 20%;
}

.skill-row {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.skill-name {
    width: 100px;
    text-align: right;
    padding: 0 10px;
    white-space: nowrap;
}

.skill-bar-cover {
    width: 100%;
    background-color: red;
}