body {
    /* background: #080808; */
}

.portfolio-wrapper {
    display: block;
}

.anim-done {
  
}

.fadeIn {
    animation: fadeIn-full 500ms ease-in-out normal forwards;
}

@keyframes fadeIn-full {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }